*{
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    background-color: #cfe7fd;
  
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.banner-alura{
    width: 20px;
    position: relative;
    top: 10px;
    margin-left: 20px;
}
#titulo-principal{
    font-size: 25px;
    color: #151f50;
    margin-bottom: 20px;
    margin-top: 50px;
    flex-grow: 1; /* Los elementos se expanden para llenar el contenedor */

}
textarea{
    width: 100%;
    height: 50%;
    padding: 20px;
    margin: 0;
    border: none;
    resize: none;
    font-size: 16px;
    line-height: 24px;
    background-color: #cfe7fd;
    color: #000;
    font-family: 'Roboto', sans-serif;

    flex-grow: 1; /* Los elementos se expanden para llenar el contenedor */
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}
.contenedor-texto{
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(63, 1, 208, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    width: 30%;


}
.contenedor-texto p{
    font-size: 20px;
    color: #000000;
    margin-top: 20px;

}
.contenedor-texto-resultado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    overflow-wrap: break-word; /* Ajuste de palabras */
    word-wrap: break-word; /* Ajuste de palabras (para navegadores antiguos) */
    overflow-y: auto;

}
.contenedor-texto-resultado p{
    font-size: 12px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 400px;
    text-align: center;
}

#boton-encriptar{
    width: 40%;
    height: 40px;
    background-color: #162c98;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}
#boton-encriptar:hover{
    background-color: #091a6e;
}
#boton-desencriptar{
    width: 40%;
    height: 40px;
    background-color: #fbfbfb;
    color: #162c98;
    font-size: 15px;
    border: 1px solid #162c98;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;

}
#boton-desencriptar:hover{
    background-color: #a0a0a0;
}
.contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap;
    min-width: 800px;

}
#imgEsperandoTexto{
    width:80%;
    display: block;
}
.contenerdor-boton-copiar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#boton-copiar{
    width: 80%;
    height: 7%;
    background-color: #fbfbfb;
    color: #162c98;
    font-size: 15px;
    border: 1px solid #162c98;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
    

}
#titulo-contenedor-texto{
    margin-top: 20px;
    font-size: 15px;
    text-align: center;

}


@media (max-width: 350px){
    .contenedor{
        min-width: 100%;
    }
    .contenedor-texto{
        min-width: 100%;
        min-height: 100%;
        margin: 10px 0 0 0;
        
    }
    .contenedor-botones{
        min-width: 100%;
    }
    textarea{
        width: 100%;
        height: 100%;
    }
    #boton-encriptar{
        width: 100%;
        margin-top: 20px;
    }
    #boton-desencriptar{
        width: 100%;
        margin-top: 20px;
    }
    #boton-copiar{
        width: 80%;
        margin-left: 0;
        margin-top: 20px;
    }
    #titulo-principal{
        text-align: start;
        
    }
    #imgEsperandoTexto{
        width: 100%;
        display: block;
    }
    .contenedor-texto h3{
        margin-left: 30px;
    }
    .contenedor-texto-resultado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
        overflow-wrap: break-word; /* Ajuste de palabras */
        word-wrap: break-word; /* Ajuste de palabras (para navegadores antiguos) */
        overflow-y: auto;
    
    }
    .contenedor-texto-resultado p{
        color: #000000;
        margin-top: 10px;
        margin-left: 20px;
        max-width: 200px;
    }
    #titulo-contenedor-texto{
        margin-top: 20px;
    
    }


}

@media (max-height: 350px){
    .contenedor{
        min-width: 100%;
    }
    .contenedor-texto{
        min-width: 100%;
        min-height: 100%;
        margin: 10px 0 0 0;
        
    }
    .contenedor-botones{
        min-width: 100%;
    }
    textarea{
        width: 100%;
        height: 100%;
    }
    #boton-encriptar{
        width: 100%;
        margin-top: 20px;
    }
    #boton-desencriptar{
        width: 100%;
        margin-top: 20px;
    }
    #titulo-principal{
        margin:50px 0px 0 20px;
        font-size: x-large;
    }
    .contenedor-texto-resultado{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
        overflow-wrap: break-word; /* Ajuste de palabras */
        word-wrap: break-word; /* Ajuste de palabras (para navegadores antiguos) */
        overflow: scroll;
    
    }
    .contenedor-texto{
        min-width: 100%;
        min-height: 100%;
        margin: 10px 0 0 0;
        height: 500px;
        width: 100%;
        
    }
    .contenedor-texto-resultado p{
        font-size: 20px;
        color: #000000;
        margin-top: 10px;

        max-width: 400px;
    }
    #titulo-contenedor-texto{
        margin-top: 20px;
    
    }
    #imgEsperandoTexto{
        display: none;
    }
    #boton-copiar{
        width: 80%;
        margin-top: 20px;
        height: 40px;
        margin-top: 120px;
    }
}
